:host {
    display: block;
    margin: 1rem;
    padding: 1rem;
  
    .title {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin-top: 8px;
    }
  
    .author {
      color: gray;
    }
  
    a {
      text-decoration: none;
    }
  }
  