:host {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid lightgray;
  margin: 1em 0;
  border-radius: 4px;
}

h3 {
  margin: 0.5em 0;
}

.author {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: gray;
}
